<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

you're logged in! /views/home/logged_in
</br>
Hi <%= current_user.first_name %>
</br>
Your email is <%= current_user.email %>
</br>
<%= image_tag current_user.image %>

</br>
<%= link_to 'Did you floss?', new_floss_path, :class=>"button" %>
</br>

<% @my_flosses.each do |floss| %>
    <li><%= floss.created_at %>: <%= link_to 'Show', floss %></li>
<% end %>

</br>
Reminder time: <%= current_user.reminder_time.to_s(:reminder_time) %>
<%= link_to 'Edit Reminder Time', edit_user_path(current_user), :class=>"button" %>