<div class="hero">
  <div class="row">
    <div class="large-2 small-4 columns">
    	<%= image_tag current_user.image, :class=>"profile-picture", :size=>"80x80" %>
      
    </div>
    <div class="large-6 small-8 end scolumns">
      <p class="name"><%= current_user.name %></p>
      <p><% if current_user.reminder_time %>
      	Daily reminder time: <%= current_user.reminder_time.to_s(:reminder_time) %>
      	<% end %>
      </p>
    </div>
  </div><br />
  <div class="row">
    <div class="large-12 columns">
      <p class="center"><a href="#" data-reveal-id="myModal" class="button checkin">Did you floss?</a></p>
    </div>
  </div>
</div>
  <br />

<!-- today -->
<% if @floss_today %>
<% if @floss_today.skipped == 1 %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/x.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You skipped today</p>
      <p class="sub-status-text">Come on! You can do it.</p>
    </div>
  </div>
<% else %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/check.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You flossed today! Go you!</p>
      <p class="sub-status-text">Done at <%= @floss_today.created_at.to_s(:reminder_time) %>!</p>
    </div>
  </div>
<% end %>
<% else %>
<div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/alarm.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You skipped today</p>
      <p class="sub-status-text">You haven't flossed yet. There's still time!</p>
    </div>
  </div>
<% end %>




<!-- yesterday -->
<% if @floss_yesterday %>
<% if @floss_yesterday.skipped == 1 %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/x.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You skipped yesterday.</p>
      <p class="sub-status-text">Just take it one day at a time.</p>
    </div>
  </div>
<% else %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/check.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You flossed yesterday! You're flossome!</p>
      <p class="sub-status-text">Done at <%= @floss_yesterday.created_at.to_s(:reminder_time) %>!</p>
    </div>
  </div>
<% end %>
<% else %>
<div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/x.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You skipped yesterday.</p>
      <p class="sub-status-text">Just take it one day at a time.</p>
    </div>
  </div>
<% end %>

<!-- 2 days ago -->
<% if @floss_three %>
<% if @floss_three.skipped == 1 %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/x.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You didn't floss on <%= (Date.today-2.days).strftime("%A") %>.</p>
      <p class="sub-status-text">Aw, man. You always have today.</p>
    </div>
  </div>
<% else %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/check.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You flossed yesterday! You're flossome!</p>
      <p class="sub-status-text">Done at <%= @floss_three.created_at.to_s(:reminder_time) %>!</p>
    </div>
  </div>
<% end %>
<% else %>
<div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/x.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You didn't floss on <%= (Date.today-2.days).strftime("%A") %>.</p>
      <p class="sub-status-text">Aw, man. You always have today.</p>
    </div>
  </div>
<% end %>

<!-- 3 days ago -->
<% if @floss_four %>
<% if @floss_four.skipped == 1 %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/x.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You didn't floss on <%= (Date.today-3.days).strftime("%A") %>.</p>
      <p class="sub-status-text">Is it really that hard?</p>
    </div>
  </div>
<% else %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/check.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You flossed yesterday! You're flossome!</p>
      <p class="sub-status-text">Done at <%= @floss_four.created_at.to_s(:reminder_time) %>!</p>
    </div>
  </div>
<% end %>
<% else %>
<div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/x.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You didn't floss on <%= (Date.today-3.days).strftime("%A") %>.</p>
      <p class="sub-status-text">Is it really that hard?</p>
    </div>
  </div>
<% end %>


<!-- 4 days ago -->
<% if @floss_five %>
<% if @floss_five.skipped == 1 %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/x.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You didn't floss on <%= (Date.today-4.days).strftime("%A") %>.</p>
      <p class="sub-status-text">You can change!</p>
    </div>
  </div>
<% else %>
  <div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/check.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You flossed yesterday! You're flossome!</p>
      <p class="sub-status-text">Done at <%= @floss_five.created_at.to_s(:reminder_time) %>!</p>
    </div>
  </div>
<% end %>
<% else %>
<div class="row status">
    <div class="large-3 small-3 columns">
      <img src="assets/x.png">
    </div>
    <div class="large-9 small-9 columns">
      <p class="status-text">You didn't floss on <%= (Date.today-4.days).strftime("%A") %>.</p>
      <p class="sub-status-text">You can change!</p>
    </div>
  </div>
<% end %>
  
    <!-- Footer -->

      <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">

              <div class="large-6 columns">
                  <p>&copy; 2013 Habitualize. A <a href="http://startupweekend.org">StartupWeekend</a> Project.</p>
              </div>

              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

    <!-- End Footer -->

    </div>
  </div>


<!-- show the popup if it's your time to floss! -->
<% if @past_time %>
	<script type="text/javascript">
	$(document).ready(function() {
    $("#myModal").foundation('reveal', 'open');
	});
	</script>
<% end %>


<!-- modal ux: find the rest in flosses/form -->
<div id="myModal" class="reveal-modal">
  <p class="title">Did you floss?</p>
  <%= render "flosses/form"  %>
  <a class="close-reveal-modal">&#215;</a>
</div>