	<div class="row">
		Hey <%= @user.first_name %>, how did it go?
		<textarea name="comments" cols="25" rows="5">
		</textarea>
	</div>
	<div class="row">
	<!-- yes -->
	<div class="small-4 columns">
	<%= form_for(@floss) do |f| %>
	    <% #f.number_field :user %>
	    <%= f.hidden_field :user %>
	    <%= f.submit "Yes", :class=>"button popup" %>
	<% end %>
	</div>
	<!-- no -->
	<div class="small-4 columns">
	<%= form_for(@floss) do |n| %>
	  <%= n.hidden_field :user %>
	  <%= n.hidden_field :skipped, :value=>"1" %>
	  <%= n.submit "No", :class=>"button popup" %>
	<% end %>
	</div>

	<%= form_for(@user) do |g| %>
	<div class="small-4 columns">
	  <%= g.submit "Snooze", :class=>"button popup-snooze" %>
	</div>
	<% end %>
</div>

<!-- snooze -->
<!--
<div class="row">
	<%= form_for(@user) do |g| %>
	
	<div class="small-6 columns">
	  <%= g.select(:next_reminder, options_for_select([['1 hour', Time.now.to_datetime+1.hours], ['2 hours', Time.now.to_datetime+2.hours], ['3 hours', Time.now.to_datetime+3.hours], ['4 hours', Time.now.to_datetime+4.hours]])) %>
	  <br />
	</div>
	
	<div class="small-6 columns">
	  <%= g.submit "Snooze :-/", :class=>"button popup" %>
	</div>
	<% end %>
</div>
-->


