  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="<%= root_path %>">
            Habitualize
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <% if user_signed_in? %>

     <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="#"><%= current_user.name %></a>
          <ul class="dropdown">
            <li><a href="<%= edit_user_path(current_user) %>">Edit Reminder Time</a></li>
            <li><a href="<%= signout_path %>">Logout</a></li>
          </ul>
        </li>
      </ul>
    </section>

    <% else %>
      <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
          <a href="<%= signin_path %>">Login</a>
      </ul>
    </section>

    <% end %>

  </nav>
 